.code-editor {
    background-color: #393f4d;
    overflow: auto !important;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    overflow: scroll; 
}

.code-editor::-webkit-scrollbar {
    display: none;
}

.cm-editor{
    display: flex;
    flex-flow: column;
    max-height: 100%;
    overflow: auto;
}

.form-select-unfilled {
    width: 200px !important;
    border: 1px solid gray !important;
    color: lightgray !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27gray%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/%3e%3c/svg%3e") !important;
}