.RegisterView {
    margin-top: 2rem;
}

.RegisterView h1 {
    margin-bottom: 2rem;
}

.RegisterView form {
    
}

.RegisterView .divider {
    border: 1px solid gray;
    margin: 2rem 0;
}

.RegisterView .form-control {
    width: 25rem;
}